head
    title= title
    meta(charset='UTF-8')
    meta(name='format-detection' content='telephone=no')
    link(crossorigin="anonymous" referrerpolicy="no-referrer" integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel='shortcut icon' href='../favicon.ico')
    //link(rel="stylesheet" href=('../style/owl_carousel_min.css'))
    //link(rel="stylesheet" href=('../style/owl_theme_default.css'))
    // <meta name="robots" content="noindex, nofollow">
    // <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    meta(name='viewport' content='width=device-width, initial-scale=1.0')