section.home__section
    .home__vedio
        video(autoplay muted loop)
            source(src="./video/window.mp4" type="video/mp4")
    .container
        .home__content
            .home__about
                h1.title Пластиковые профили высокого качества!
                p.text Производство пластиковых профилей доверьтесь профессионалам!
                a.btn Связаться
            .home__img
                include ../../../icons-sprite/big-logo.svg

