section.home__section(id="home")
    .home__vedio
        video(autoplay muted loop)
            source(src="./video/v2.mp4" type="video/mp4")
    .container
        .home__content
            .home__about
                h1.title ПРИВЕТСТВУЕМ ВАС В МИРЕ ПРОФИЛЕЙ ПВХ!
                p.text Производство пластиковых профилей доверьтесь профессионалам!
                a.btn Связаться
            .home__img
                img(src=require("../../../icons-sprite/big-logo.svg"))

