section.about__section(style=`background-image: linear-gradient(0deg, rgba(53, 38, 0, 0.4), rgba(53, 38, 0, 0.4)),url('./images/bg_about.jpg');` id="link0")
    .container
        .about__content
            h1.section__title
                span О компании
            .about__context
                .title Lorem ipsum dolor sit amet consectetur. Sed erat volutpat dictum et posuere.
                .description
                    |Lorem ipsum dolor sit amet consectetur. Sed erat volutpat dictum et posuere. Feugiat lectus pellentesque ut integer dolor.
                    |In diam commodo ullamcorper tincidunt fermentum mattis a porttitor sollicitudin. Odio euismod sed tempus convallis vitae. Pellentesque mollis ultrices vitae quam lectus amet lacus sit. Ultrices
                    |nibh scelerisque ultricies maecenas duis non. Tristique senectus praesent quis diam. Mi venenatis nunc sed ultrices. Praesent dui euismod porttitor consequat dui risus leo. Senectus potenti fermentum
                    |magna nulla amet. Neque laoreet cursus tristique scelerisque viverra posuere suspendisse.