section.about__section(style=`background-image: linear-gradient(0deg, rgba(53, 38, 0, 0.4), rgba(53, 38, 0, 0.4)),url('./images/bg_about.jpg');` id="link1")
    .container
        .about__content
            h1.section__title
                span О компании
            .about__context
                .title NEOM PLAST
                .description
                    |Компания "Neom Plast" является современным многопрофильным предприятием по производстве ПВХ профилей. Благодаря приобретением новейшего оборудования и привлечению высококвалифицированных специалистов в области производстве пластиковые профиля, за короткий период времени компании "Neom" удалось войти в состав ведущих Узбекских производителей в отрасли.
                    br
                    br
                .description
                    | Мы делаем профили производственно-технического назначения из жесткого и пластифицированного ПВХ.
                    | На сегодняшний день ассортимент выпускаемой нами продукции достаточно чтобы собрать на вашем уюте высококачественные окно!