section.product__section(id="lin")
    .container
        .product__content
            .section__title(class="black")
                span С помощью искусственного интеллекта выберете на вкус цвет окно
            .product__main
                .product__img
                    img(src="./images/home.png")
                    //img(src="./images/window.png")
                .product__navigation
                    .facade(class="product__items")
                        .product__items-inner
                            h4 Окна:
                            each item in [1,2,3,4,5]
                                .product__item
                                    img(src=`./images/window-${item}.png`)
                    .window(class="product__items")
                        .product__items-inner
                            h4 Фасад:
                            each item in [1,2,3,4,5]
                                .product__item
                                    img(src=`./images/facade-${item}.png`)