section.maps__section(id="link3")
    .container
        .maps__content
            .section__title(class="black")
                span Наши офисы
            .maps__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d16952.50180316247!2d69.25493063682104!3d41.31305669907062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1673337673189!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            .form__content
                .title Оставьте заявку мы свяжемся с вам!
                .info Спасибо за выбор и доверие
                .form
                    .form__input
                        span Имя
                        input(placeholder="Ваше имя")
                    .form__input
                        span Номер телефона
                        input(placeholder="+998 XX YYY YY YY")
                    a.btn Отправить