doctype html
html(lang="ru")
    block vars
    include ../includes/modules/head
    body
        .wrapper
            include ../includes/modules/header
            main.page
                block content
            include ../includes/modules/footer
