doctype html
html(lang="en")
    block vars
    include ../includes_en/modules/head
    body
        .wrapper
            //.win-loader.active
            //    .lds-roller
            //        div
            //        div
            //        div
            //        div
            //        div
            //        div
            //        div
            //        div
            include ../includes_en/modules/header
            main.page
                block content
            include ../includes_en/modules/footer
