doctype html
html(lang="ru")
    block vars
    include ../includes/modules/head
    body
        .wrapper
            //.win-loader.active
            //    .lds-roller
            //        div
            //        div
            //        div
            //        div
            //        div
            //        div
            //        div
            //        div
            include ../includes/modules/header
            main.page
                block content
            include ../includes/modules/footer
