header.header
    .container
        .h__content
            a.h__logo-box
                include ../../../icons-sprite/logo.svg
            nav.h__nav
                ul.h__nav-list
                  - items = ['О компании','Продукция','Статистика','Наши офисы']
                  each item, index in items
                      if index === 0
                          li.nav__list-item
                              a(class="h__link active" href='#link' + index)= item
                      else
                          li.nav__list-item
                              a.h__link(href='#link' + index)= item
            .h__social
                a.social__item
                    include ../../../icons-sprite/facebook.svg
                a.social__item
                    include ../../../icons-sprite/instagram.svg
                a.social__item
                    include ../../../icons-sprite/telegram.svg