extends ../templates/base_en
append vars
    - let title = 'Главная'
    
append content
    include ../includes_en/index/1_home
    include ../includes_en/index/2_comfort
    include ../includes_en/index/3_about
    include ../includes_en/index/4_product
    include ../includes_en/index/5_statistic
    include ../includes_en/index/6_maps