extends ../templates/base
append vars
    - let title = 'Главная'
    
append content
    include ../includes/index/1_home
    include ../includes/index/2_comfort
    include ../includes/index/3_about
    include ../includes/index/4_product
    include ../includes/index/5_statistic
    include ../includes/index/6_maps