.b-breadcrumbs
    ._container._container
        ._body
            a(href="#")._element Главная
                +svg({id: 'arrow1', typeMulti: false})
            a(href="#")._element.-active Пчелинцева Ирина дмитриевна
section.b-expert 
    ._container._container
        ._content
            ._body
                h2._title.title Как правильно уволить диркетора?
                ._teamWrp
                    ._team.team__itemBox
                        .team__itemImgBox
                            include ../../img/team/ph.svg
                        .team__itemBody.cardStyle
                            h3.team__itemTitle.t2 Пчелинцева Ирина дмитриевна
                            .team__itemProf Адвокат
                            .b-contacts._contacts
                                ul._list
                                    li._item.-phones
                                        +svg({id: 'tel', typeMulti: true})
                                        a._link.-tel(href="tel:+998909332336") +99890933-23-36
                                    li._item.-mails
                                        +svg({id: 'mail', typeMulti: true})
                                        a._link.-mail(href="mailto:info@thelaw.uz") info@thelaw.uz
                p._preview Ирина Пчелинцева предоставляет полный спектр юридических услуг, консультируя в таких отраслях права как: корпоративное, налоговое, авторское и трудовое право. Получила степень бакалавра международного права в Университете Мировой Экономики и Дипломатии (г. Ташкент, Узбекистан).
                .b-expertGrid._grid
                    - 
                        items = [
                            'Комплексное юридическое сопровождение ИТ Компании одного из ведущих поставщиков решений и услуг в сфере информационных технологий и инженерных систем на рынке телекоммуникаций Узбекистана, Центральной Азии и Закавказья.',
                            'Комплексное юридическое сопровождение иностранной компании (резидента Великобритании), осуществлявшей деятельность на территории Республики Узбекистан через Постоянное учреждение по инжинирингу, поставке оборудования и строительству склада полимерной продукции в Устюртском газохимическом комплексе.',
                            'Комплексное юридическое сопровождение иностранной компании (резидента США), осуществлявшей деятельность на территории Республики Узбекистан через Постоянное учреждение по проектированию, строительству, шеф-монтажу, испытанию, вводу в эксплуатацию комплекса информационных и инженерных систем (КИИС) на объекте «Опорная база промысла на месторождении Джаркудук».',
                            'Комплексное юридическое сопровождение ИТ компании по проекту на поставку оборудования и осуществлению монтажных и пуско-наладочных работ по реализации проекта «Система видеоконференции в хозяйственных судах Республики Узбекистан.',
                            'Комплексное юридическое сопровождение ИТ компании по проекту разработка рабочей документации по объекту «Комплекс информационных и инженерных систем объектов проекта «Ранний газ Кандымской группы месторождений и обустройство северной части участка Шады»» ',
                            'Комплексное юридическое сопровождение и представление интересов различных  предприятий с иностранным капиталом и инвестициями различных форм собственности в Республике Узбекистан перед контрагентами и в государственных органах.',
                            'Консультирование крупнейших туристических компании по различным вопросам, регулируемым действующим законодательством Республики Узбекистан.',
                            'Консультирование по различным сделкам по слиянию и поглощению между компаниями нерезидентами и компаниями резидентами Республики Узбекистан.',
                            'Участие в судебных разбирательствах в экономических судах Республики Узбекистан.'
                        ]
                    each item in items
                        ._itemWrp
                            ._itemBox.cardStyle
                                p._txt= item
                p._postview Ирина Пчелинцева обладает значительным опытом по консультированию и реализации инвестиционных проектов в Узбекистане, представляя интересы иностранных инвесторов из США, Китая, Великобритании, России и Казахстана в различных государственных органах.
                a(href="#callback")._btn.btn._popup-link.tel Заказать консультацию
                    +svg({id: 'tel', typeMulti: false})


