section.home__section(id="home")
    .home__vedio
        video(autoplay muted loop)
            source(src="../video/v2.mp4" type="video/mp4")
    .container
        .home__content
            .home__about
                h1.title PVX PROFILLAR DUNYOSIGA XUSH KELIBSIZ!
                p.text
                    span.typing-home Plastik profillarni ishlab chiqarishda professionallarga ishoning!
                    span.indicator
                a.btn Biz bilan bog`laning
            .home__img
                img(src=require("../../../icons-sprite/big-logo.svg") loading="lazy")

