section.about__section(style=`background-image: linear-gradient(0deg, rgba(53, 38, 0, 0.4), rgba(53, 38, 0, 0.4)),url('../images/bg_about.jpg');` id="link1")
    .container
        .about__content
            h1.section__title
                span Kompaniya haqida
            .about__context
                .title NEOM PLAST
                .description
                    |"Neom Plast" kompaniyasi PVX profillarini ishlab chiqarish bo'yicha zamonaviy korxona hisoblanadi. Innovatsion uskunalar xarid qilingani va plastik profillarni ishlab chiqarish sohasiga yuqori malakali mutaxassislar jalb qilingani tufayli qisqa vaqt ichida Neom kompaniyasi O‘zbekistonning sanoatdagi yetakchi ishlab chiqaruvchilardan biriga aylanishga muvaffaq bo‘ldi.
                    br
                    br
                .description
                    | Biz qattiq va plastiklashtirilgan PVXdan oliy maqsadlarda profillarni ishlab chiqaramiz.
                    | Bugungi kunga kelib, bizning mahsulotlarimiz assortimenti sizning qulayligingiz uchun yuqori sifatli derazalarni yig'ish uchun yetarli!