//colors

$main_color: #DEA411;
$black: #000000;
$white: #ffffff;
$bg: #F8F6F3;
$brown: #3D260D;
$gray1: #333333;
$gray3: #828282;


// font

$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;