section.home__section(id="home")
    .home__vedio
        video(autoplay muted loop)
            source(src="../video/v2.mp4" type="video/mp4")
    .container
        .home__content
            .home__about
                h1.title WELCOME TO THE WORLD OF PVC PROFILES!
                p.text
                    span.typing-home Production of plastic profiles trust the professionals!
                    span.indicator
                a.btn(href="tel:+998994988888") Contact
            .home__img
                img(src=require("../../../icons-sprite/big-logo.svg") loading="lazy")
