section.about__section(style=`background-image: linear-gradient(0deg, rgba(53, 38, 0, 0.4), rgba(53, 38, 0, 0.4)),url('../images/bg_about.jpg');` id="link1")
    .container
        .about__content
            h1.section__title
                span About the company
            .about__context
                .title NEOM PLAST
                .description
                    | The company "Neom Plast" is a modern multidisciplinary enterprise for the production of PVC profiles. Thanks to the acquisition of the latest equipment and the involvement of highly qualified specialists in the production of plastic profiles, in a short period of time, Neom managed to become one of the leading Uzbek manufacturers in the industry.
                    br
                    br
                .description
                    | We make profiles for industrial and technical purposes from rigid and plasticized PVC. To date, the range of products we produce is enough to assemble high-quality windows in your comfort!