section.product__section(id="lin")
    .container
        .product__content
            .section__title(class="black")
                span Select window color
    .product__main
                .product__img
                    img.main_facade(src="../images/facade-1.jpg" data-type="en"  loading="lazy")
                    img.main_win(src="../images/win_1.png" data-type="en" loading="lazy")
                .product__navigation
                    .window(class="product__items")
                        .product__items-inner
                            h4 Window:
                            .product__item.active(data-window='1')
                                img(src=`../images/window-1.png` loading="lazy")
                            each item in [2,3,4,5]
                                .product__item(data-window=item)
                                    img(src=`../images/window-${item}.png` loading="lazy")
                    .facade(class="product__items")
                        .product__items-inner
                            h4 Facade:
                            .product__item.active(data-facade='1')
                                img(src=`../images/facade-1-min.jpg` loading="lazy")
                            each item in [5,2,3,4]
                                .product__item(data-facade=item)
                                    img(src=`../images/facade-${item}-min.jpg` loading="lazy")